@page "/courses"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Hogwarts
@using HogwartsWeb.Data
@implements IAsyncDisposable
@inject IDbContextFactory<HogwartsWeb.Data.HogwartsWebContext> DbFactory

<PageTitle>Courses</PageTitle>

<h1>Courses</h1>

<p>
    <a href="courses/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Course">
    <PropertyColumn Property="course => course.CourseName" />
    <PropertyColumn Property="course => course.Description" />
    <PropertyColumn Property='course => course.Professor.FirstName + " " + course.Professor.LastName' Title="Professor Name" />

    <TemplateColumn Context="course">
        <a href="@($"courses/edit?courseid={course.CourseId}")">Edit</a> |
        <a href="@($"courses/details?courseid={course.CourseId}")">Details</a> |
        <a href="@($"courses/delete?courseid={course.CourseId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private HogwartsWebContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        context.Professor.ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
