@page "/enrollments"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using AbdHogwarts
@using HogwartsWeb.Data
@implements IAsyncDisposable
@inject IDbContextFactory<HogwartsWeb.Data.HogwartsWebContext> DbFactory

<div class="page-container">

    <PageTitle>Enrollments</PageTitle>

    <h1>Enrollment</h1>

    <p>
        <a class="btn-create" href="enrollments/create">Create New</a>
    </p>
    <QuickGrid Class="quickgrid-table table" Items="context.Enrollment">
        <PropertyColumn Property='enrollment => enrollment.Student.FirstName + " " + enrollment.Student.LastName' Title="Student" />
        <PropertyColumn Property="enrollment => enrollment.Course.CourseName" Title="Course" />
        <PropertyColumn Property='enrollment => enrollment.Professor.FirstName + " " + enrollment.Professor.LastName' Title="Professor" />
        <PropertyColumn Property="enrollment => enrollment.EnrollmentDate" Title="Enrollment Date" />

        <TemplateColumn Context="enrollment">
            <a href="@($"enrollments/edit?enrollmentid={enrollment.EnrollmentId}")">Edit</a> |
            <a href="@($"enrollments/details?enrollmentid={enrollment.EnrollmentId}")">Details</a> |
            <a href="@($"enrollments/delete?enrollmentid={enrollment.EnrollmentId}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>

</div>

@code {
    private HogwartsWebContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        context.Course.ToList();
        context.Student.ToList();
        context.Professor.ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
